<p>
	<ul>
	 {{#each opinions}}
		<li>
			<div>
				Name:{{name}}
			</div>
			<div>
				Gender:{{sex}}
			</div>
			<div>
				Race:{{race}}
			</div>
			<div>
				Age:{{age}}
			</div>
			<div>
				Character:{{character}}
			</div>
			<div>
				Phrases:{{phrases}}</li>
			</div>
			<div>
				Story:{{story}}</li>
			</div>
		</li>
	{{/each}}
	</ul>
  </p>


